body {
  margin: 0 2%;
}

ul {
  padding: 0;
  max-height: max-content;
  margin: 0;
  list-style: none;
}

.example-card {
  background-color: #7b1fa2;
  margin: 1% 0;
  transition-duration: 0.5s;
}

.completed {
  background-color: #69f0ae;
  transition-duration: 0.5s;
}

.completed h3 {
  color: rgb(49, 49, 49);
  text-decoration: line-through;
}

.space-between {
  display: flex;
  justify-content: space-between;
  padding: 1%;
}

.gridForm1 {
  display: grid;
  grid-template-columns: auto 25%;
  margin-top: 2%
}

.gridForm2 {
  display: grid;
  grid-template-columns: 25% auto;
}

.addInput {
  margin-right: 2%
}

.example-full-width {
  box-sizing: border-box;
  width: 100%
}

.addDatePicker {
  display: flex !important
}

.buttonAdd {
  width: 100%;
  margin-bottom: 3%
}

.filterinput {
  margin-left: 2%
}

.notodo {
  color: red;
  text-align: center
}

.loading p {
  color: green;
  text-align: center
}

mat-accordion button {
  margin-right: 1%;
}