<!-- <form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput [(ngModel)]="inputText">
  </mat-form-field>
</form> -->
<input type="text" [(ngModel)]="inputText" placeholder="New task...">
<button class="add" type="button" (click)="addTask()">addTask</button>

<!-- <input type="text" [(ngModel)]="inputText"> -->
<!-- <button type="button" (click)="addTask()" (keydown.enter)="addTask()">addTask</button> -->

<!-- todolist {{todoService.todoList | json}} <br> -->

<ul>
  <div *ngFor="let item of todoService.todoList; let i = index">
    <li *ngIf="!item.completed" [class.completed]="item.completed">
      <div class="attr">
        <input type="checkbox" [checked]="item.completed" (checked)="($event)" (click)="todoService.changeComplete(item)">
        <p> №{{i}} - {{item.date | date: "medium"}}</p>
        <button class="del" type="button" (click)="todoService.delTask(item.id)">delTask</button>
      </div>
      <!-- <input type="checkbox" [checked]="item.completed" (click)="item.completed = !item.completed"> -->
      <!-- <h2 [ngStyle]="{'color' : item.completed ? 'green' : 'red', 'text-decoration' : item.completed ? 'line-through' : 'normal'}">{{item.text}}<button type="button" (click)="delTask(item.id)">delTask</button></h2> -->
      <div class="task">
        <h2>{{item.text}}</h2>
      </div>
    </li>

  </div>
</ul>

<!-- <p>
  Options selected: {{shoes.selectedOptions.selected.length}}
</p> -->


<!-- <div *ngFor="let item of tasks; let i = index">
  <div>{{i}} {{item.value}}</div>
  <button type="button" (click)="delTask(i)">delTask</button>
</div> -->