<div>




    <mat-form-field style="width: 100%">
        <!-- <h1>Import from Excel</h1>
        <ngx-mat-file-input (input)="ipmexService.uploadList($event)" style="width: 100%" placeholder="Excel file only"
            [accept]="'.xlsx'" >
        </ngx-mat-file-input>


        <!-- <mat-icon matSuffix color="primary">download_file</mat-icon>
        <mat-icon matSuffix color="primary">folder</mat-icon> -->

        <br>
        <!-- <hr> 
        <ngx-mat-file-input>

        </ngx-mat-file-input>
        <mat-icon>upload_file</mat-icon>
        <mat-icon matSuffix>folder</mat-icon>
        <br> -->
        <hr> -->
        <h1>Export to Excel
            <button mat-mini-fab color="primary" class="upload-btn" (click)="ipmexService.downloadList()">
                <mat-icon>download_file</mat-icon>
            </button>
        </h1>
    </mat-form-field>

    <!-- <hr> -->


</div>