<body>

  <ul *ngIf="todoService.todoList.length; else noTodo">
    <div *ngFor="let item of todoService.todoList; let i = index">
      <li *ngIf="!item.completed" [class.completed]="item.completed">
        <mat-card class="example-card" [class.completed]="item.completed">
          <mat-card-subtitle class="space-between">
            <div>
              <mat-slide-toggle [checked]="item.completed" (change)="this.todoService.changeComplete(item)"></mat-slide-toggle>
              №{{i+1}} {{item.date | date: "fullDate"}}
            </div>
            <div>
              <button mat-raised-button color="warn" type="button"
                (click)="todoService.delTask(item.id)">Delete</button>
            </div>
          </mat-card-subtitle>
          <mat-card-content>
            <h3>{{item.text}}</h3>
          </mat-card-content>
        </mat-card>
      </li>

    </div>
  </ul>

  <ng-template #noTodo>
    <p style="color: 'red'; text-align: center">No tasks</p>
  </ng-template>

</body>